{
	"name" : "MyCross", 
	"species" : [203, 276, 236, 200, 133, 163, 188, 206, 143, 132, 164], 
	"output" : {
		"plants" : ["Donor_1", "F1"]
	}, 
	"plants" : [
	    { 
	    	"name" : "PreferedVariety", 
	    }, 
	    { 
	    	"name" : "Donor1", 
			"loci" : [
	        	{
	        		"name" : "D1C1",
			        "type" : "Trait", 
			        "linkageGroup" : 1, 
			        "position" : 2
			    },
				{ 
					"name" : "D1C2",
					"type" : "Marker", 
					"linkageGroup" : 2, 
					"position" : 3
				}
			] 
		} , 
	    { 
	    	"name" : "Donor2", 
			"loci" : [
	        	{
	        		"name" : "D2C1",
			        "type" : "Trait", 
			        "linkageGroup" : 3, 
			        "position" : 3
			    }
			] 
		}
  	],
	"crosses" : [
		{
			"name" : "F1", 
			"left" : "Donor1", 
      		"right" : "Donor2", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : ["D1C1", "D1C2", "D2C1"]
            }
		},{
			"name" : "BC1", 
			"left" : "F1"
      		"right" : "PreferedVariety", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : ["D1C1", "D1C2", "D2C1"]
            }
		},
		
	]
}