{
	"config" : {
		"chunkSize" : 1000,
		"recombinationProb" : 0.01
		"tolerance" : 0.8
		"output" : ["Cross1_Het", "Cross2_Het", "Cross3_Hom"]
	}
	"name" : "SimpleCross", 
	"species" : {
		name : "PhaseolusVulgaris"
		chromosomeLengths : [100, 100]
	}, 
	"output" : {
		"plants" : []
	}, 
	"plants" : [ 
	    { 
	    	"name" : "PreferredVariety", 
			"loci" : [
	        	{
	        		"name" : "PVTrait",
			        "type" : "Trait", 
			        "linkageGroup" : 1, 
			        "position" : 5
			    }
			] 
		} , 
	    { 
	    	"name" : "Donor", 
			"loci" : [] 
		}
  	],
	"crosses" : [
		{
			"name" : "Cross1_Het", 
			"left" : "PreferredVariety", 
      		"right" : "Donor", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : []
            }
		},
		{
			"name" : "Cross2_Het", 
			"left" : "PreferredVariety", 
      		"right" : "Cross1_Het", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : []
            }
		},
		{
			"name" : "Cross3_Hom", 
			"left" : "Cross2_Het", 
      		"right" : "Cross2_Het", 
            "protocol" : {
            	"zygosity" : "Homozygous",
            	"loci" : ["Donor"]
            }
		}
	]
}