{
	"name" : "SimpleCross", 
	"species" : {
		name : "PhaseolusVulgaris"
		chromosomeLengths : [203, 276, 236, 200, 133, 163, 188, 206, 143, 132, 164]
	}, 
	"output" : {
		"plants" : []
	}, 
	"plants" : [ 
	    { 
	    	"name" : "Donor1", 
			"loci" : [
	        	{
	        		"name" : "Donor1Trait",
			        "type" : "Trait", 
			        "linkageGroup" : 1, 
			        "position" : 100
			    }
			] 
		} , 
	    { 
	    	"name" : "Donor2", 
			"loci" : [
	        	{
	        		"name" : "Donor2Trait",
			        "type" : "Trait", 
			        "linkageGroup" : 2, 
			        "position" : 100
			    }
			] 
		}
  	],
	"crosses" : [
		{
			"name" : "Cross1", 
			"left" : "Donor1", 
      		"right" : "Donor2", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : []
            }
		},{
			"name" : "Cross2", 
			"left" : "Donor1", 
      		"right" : "Cross1", 
            "protocol" : {
            	"zygosity" : "Homozygous",
            	"loci" : ["Donor1Trait"]
            }
		}
	]
}