{
	"config" : {
		"chunkSize" : 1000,
		"recombinationProb" : 0.01
		"tolerance" : 0.3
	}
	"name" : "SimpleCross", 
	"species" : {
		name : "PhaseolusVulgaris"
		chromosomeLengths : [203, 276, 236, 200, 133, 163, 188, 206, 143, 132, 164]
	}, 
	"output" : {
		"table" : [
			{
				"subject": "Cross1_Het",
				"contribution" : "PreferredVariety"
			},{
				"subject": "Cross2_Het", 
				"contribution" : "PreferredVariety"
			},{
				"subject": "Cross3_Het", 
				"contribution" : "PreferredVariety"
			},{
				"subject": "Cross4_Het",
				"contribution" : "PreferredVariety"
			},{
				"subject": "Cross5_Het", 
				"contribution" : "PreferredVariety"
			},{
				"subject": "Cross6_Hom",
				"contribution" : "PreferredVariety"
			}
		]
	}, 
	"plants" : [
	    { 
	    	"name" : "PreferredVariety", 
			"loci" : [] 
		} , 
	    { 
	    	"name" : "Donor", 
			"loci" : [
	        	{
	        		"name" : "DonorTrait",
			        "type" : "Trait", 
			        "linkageGroup" : 2, 
			        "position" : 100
			    }
			] 
		}
  	],
	"crosses" : [
		{
			"name" : "Cross1_Het", 
			"left" : "PreferredVariety", 
      		"right" : "Donor", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : []
            }
		},
		{
			"name" : "Cross2_Het", 
			"left" : "PreferredVariety", 
      		"right" : "Cross1_Het", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : []
            }
		},
		{
			"name" : "Cross3_Het", 
			"left" : "PreferredVariety", 
      		"right" : "Cross2_Het", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : []
            }
		},
		{
			"name" : "Cross4_Het", 
			"left" : "PreferredVariety", 
      		"right" : "Cross3_Het", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : []
            }
		},
		{
			"name" : "Cross5_Het", 
			"left" : "PreferredVariety", 
      		"right" : "Cross4_Het", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : []
            }
		},
		{
			"name" : "Cross6_Hom", 
			"left" : "Cross5_Het", 
      		"right" : "Cross5_Het", 
            "protocol" : {
            	"zygosity" : "Homozygous",
            	"loci" : ["DonorTrait"]
            }
		}
	]
}