{
	"system" : {
		"convergence" : {
			"chunkSize" : 100,
			"tolerance" : 0.05
		}		
	}
	"name" : "MyCross", 
	"species" : {
		name : "Phaseolus_Vulgaris",
		chromosome_lengths : [11, 23, 45, 22, 10, 80, 121]
	}, 
	"plants" : [
	    { 
	    	"name" : "Prefered_Variety", 
	    	"loci" : [ ]
	    }, 
	    { 
	    	"name" : "Donor1", 
			"loci" : [
	        	{
	        		"name" : "D1C1",
			        "type" : "Trait", 
			        "linkage_group" : 5, 
			        "position" : 50
			    },
				{
					"name" : "D1C2",
					"type" : "Marker", 
					"linkage_group" : 6, 
					"position" : 60
				}
			] 
		} , 
	    { 
	    	"name" : "Donor2", 
			"loci" : [
	        	{
	        		"name" : "D2C1",
			        "type" : "Trait", 
			        "linkage_group" : 1, 
			        "position" : 10
			    }
			] 
		}
  	],
	"crosses" : [
		{
			"name" : "F1", 
			"left" : "Donor1", 
      		"right" : "Donor2", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : ["D1C1", "D1C2", "D2C1"]
            }
		},{
			"name" : "BC1", 
			"left" : "F1",
      		"right" : "Prefered_Variety", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"num_homozygously": 1,
            	"loci" : ["D1C1", "D1C2", "D2C1"]
            }
		},{
			"name" : "Self", 
			"left" : "BC1",
      		"right" : "BC1", 
            "protocol" : {
            	"zygosity" : "Homozygous",
            	"loci" : ["D1C1", "D1C2", "D2C1"]
            }
		}
	],
	"output" : [
		{ 
			type: "proportion_distribution",
			donor : "Prefered_Variety",
			cross : "BC1" 
		},{
			type: "proportion_distribution",
			donor : "Prefered_Variety",
			cross : "Self"	
		},{
			type : "success_probability",
			crosses : ["F1", "BC1", "Self"]
		},{
			type : "loci_composition",
			cross : "Self"
		},{
			type : "mean_cross_composition",
			crosses : ["F1","BC1","Self"]
		}
	]
}