{
	"system" : {
		"db_url" : "jdbc:etc"
		"convergence" : {
			"chunkSize" : 1000,
			"tolerance" : 0.03
		}
	}
	"name" : "SimpleCross", 
	"species" : {
		name : "PhaseolusVulgaris"
		chromosome_lengths : [203, 276, 236, 200, 133, 163, 188, 206, 143, 132, 164]
	}, 
	"plants" : [
	    { 
	    	"name" : "PreferredVariety", 
			"loci" : [] 
		} , 
	    { 
	    	"name" : "Donor", 
			"loci" : [
	        	{
	        		"name" : "DonorTrait",
			        "type" : "Trait", 
			        "linkage_group" : 2, 
			        "position" : 100
			    }
			] 
		}
  	],
	"crosses" : [
		{
			"name" : "Cross1_Het", 
			"left" : "PreferredVariety", 
      		"right" : "Donor", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : []
            }
		},
		{
			"name" : "Cross2_Het", 
			"left" : "PreferredVariety", 
      		"right" : "Cross1_Het", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : []
            }
		},
		{
			"name" : "Cross3_Het", 
			"left" : "PreferredVariety", 
      		"right" : "Cross2_Het", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : []
            }
		},
		{
			"name" : "Cross4_Het", 
			"left" : "PreferredVariety", 
      		"right" : "Cross3_Het", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : []
            }
		},
		{
			"name" : "Cross5_Het", 
			"left" : "PreferredVariety", 
      		"right" : "Cross4_Het", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : []
            }
		},
		{
			"name" : "Cross6_Hom", 
			"left" : "Cross5_Het", 
      		"right" : "Cross5_Het", 
            "protocol" : {
            	"zygosity" : "Homozygous",
            	"loci" : ["DonorTrait"]
            }
		}
	]
}