{
	system : {
		convergence_chunk_size: 1000,
		convergence_tolerance: 0.05,
		convergence_fewest_plants: 100
	}
	name : "eg1", 
	species : {
		name : "PhaseolusVulgaris"
		chromosome_lengths : [203, 276, 236, 200, 133, 163, 188, 206, 143, 132, 164]
	}, 
	plants : [
	    { 
	    	name : "Pref_Var", 
			loci : [] 
		},{ 
	    	name : "Donor_A", 
			loci : [
	        	{
	        		name : "Donor_A_T1",
			        type : "Trait", 
			        linkage_group : 2, 
			        position : 100
			    }
			] 
		},{ 
	    	name : "Donor_B", 
			loci : [
	        	{
	        		name : "Donor_B_T1",
			        type : "Trait", 
			        linkage_group : 8, 
			        position : 160
			    },{
	        		name : "Donor_B_T2",
			        type : "Trait", 
			        linkage_group : 6, 
			        position : 70
			    }
			] 
		},{ 
	    	name : "Donor_C", 
			loci : [
	        	{
	        		name : "Donor_C_T1",
			        type : "Trait", 
			        linkage_group : 8, 
			        position : 20
			    }
			] 
		},{ 
	    	name : "Donor_D", 
			loci : [
	        	{
	        		name : "Donor_D_T1",
			        type : "Trait", 
			        linkage_group : 10, 
			        position : 120
			    }
			] 
		}
  	],
	crosses : [
		{
			name : "F1_AB", 
			left : "Donor_A", 
      		right : "Donor_B", 
            zygosity : "Heterozygous",
            loci : ["Donor_A_T1", "Donor_B_T1", "Donor_B_T2"]
		},{
			name : "F1_CD", 
			left : "Donor_C", 
      		right : "Donor_D", 
            zygosity : "Heterozygous",
            loci : ["Donor_C_T1", "Donor_D_T1"]
		},{
			name : "F1_ABCD", 
			left : "F1_AB", 
      		right : "F1_CD", 
            zygosity : "Heterozygous",
            loci : ["Donor_A_T1", "Donor_B_T1", "Donor_B_T2", "Donor_C_T1", "Donor_D_T1"]
		},{
			name : "BC_1", 
			left : "F1_ABCD", 
      		right : "Pref_Var", 
            zygosity : "Heterozygous",
            loci : ["Donor_A_T1", "Donor_B_T1", "Donor_B_T2", "Donor_C_T1", "Donor_D_T1"]
		},{
			name : "BC_2", 
			left : "BC_1", 
      		right : "Pref_Var", 
            zygosity : "Heterozygous",
            loci : ["Donor_A_T1", "Donor_B_T1", "Donor_B_T2", "Donor_C_T1", "Donor_D_T1"]
		},{
			name : "BC_3", 
			left : "BC_2", 
      		right : "Pref_Var", 
            zygosity : "Heterozygous",
            loci : ["Donor_A_T1", "Donor_B_T1", "Donor_B_T2", "Donor_C_T1", "Donor_D_T1"]
		},{
			name : "Self", 
			left : "BC_3", 
      		right : "BC_3", 
            zygosity : "Homozygous",
            loci : ["Donor_A_T1", "Donor_B_T1", "Donor_B_T2", "Donor_C_T1", "Donor_D_T1"]
		}
	],
	outputs : [
		{ 
			type: "proportion_distribution",
		 	donor : "Pref_Var",
		 	cross : "BC_2"
		},{ 
			type: "proportion_distribution",
		 	donor : "Pref_Var",
		 	cross : "BC_3"
		},{
			type : "success_table",
			require : [
				{
					cross : "F1_ABCD"
					num_required: 20
					confidence : 0.95
				},{
					cross : "BC_1"
					num_required: 20
					confidence : 0.95
				},{
					cross : "BC_2"
					num_required: 20
					confidence : 0.95
				},{
					cross : "BC_3"
					num_required: 20
					confidence : 0.95
				},{
					cross : "Self"
					num_required: 20
					confidence : 0.95
				}
			]
		},{
			type: mean_cross_composition,
			crosses: ["F1_AB", "F1_CD", "F1_ABCD", "BC_1", "BC_2", "BC_3", "Self"]
		},{
			type : "loci_composition",
			cross : "F1_ABCD"
		},{
			type : "loci_composition",
			cross : "BC_3"
		},{
			type : "loci_composition",
			cross : "Self"
		}
	]
}