{
	"system": {
		"convergence_chunk_size": 1000,
		"convergence_fewest_plants": 100,
		"convergence_tolerance": 0.05,
	}
 	"name": "simpleWebFormatTest",
	"species" : {
		"name" : "Phaseolus_Vulgaris",
		"chromosome_lengths" : [203, 276, 236, 200, 133, 163, 188, 206, 143, 132, 164]
	},
	"plants" : [
	    { 
	    	"name" : "PrefVar", 
	    	"loci" : [ ]
	    },{ 
	    	"name" : "DonorA", 
			"loci" : [
	        	{
	        		"name" : "A1",
			        "type" : "Trait", 
			        "linkage_group" : 5, 
			        "position" : 50
			    },
				{
					"name" : "A2",
					"type" : "Marker", 
					"linkage_group" : 6, 
					"position" : 60
				}
			] 
		},{ 
	    	"name" : "DonorB", 
			"loci" : [
	        	{
	        		"name" : "B1",
			        "type" : "Trait", 
			        "linkage_group" : 9, 
			        "position" : 80
			    }
			] 
		},
	]
	"crosses": [
		{
         	"name": "F1",
        	"left": "DonorA",
			"right": "DonorB"
			"loci": [
				"A1",
            	"A2",
            	"B1"
         	],
         	"zygosity": "Heterozygous",
      	},{
         	"name": "BC1",
        	"left": "F1",
			"right": "PrefVar"
			"loci": [
				"A1",
            	"A2",
            	"B1"
         	],
         	"zygosity": "Heterozygous",
      	},{
         	"name": "BC2",
        	"left": "BC1",
			"right": "PrefVar"
			"loci": [
				"A1",
            	"A2",
            	"B1"
         	],
         	"zygosity": "Heterozygous",
      	},{
         	"name": "Self",
        	"left": "BC2",
			"right": "BC2"
			"loci": [
				"A1",
            	"A2",
            	"B1"
         	],
         	"zygosity": "Homozygous",
      	}
	],
    output : [
		{ 
			type: "proportion_distribution",
			data: "{donor : \"PrefVar\", cross : \"BC1\"}" 
		},{ 
			type: "proportion_distribution",
			data: "{donor : \"PrefVar\", cross : \"BC2\"}" 
		},{ 
			type: "proportion_distribution",
			data: "{donor : \"PrefVar\", cross : \"Self\"}" 
		},{
			type : "success_probability",
			data: "{crosses : [\"F1\", \"BC1\", \"BC2\", \"Self\"] }" 
		},{
			type : "loci_composition",
			data: "{cross : \"Self\"}"
		},{
			type : "mean_cross_composition",
			data : "{crosses: [\"F1\", \"BC1\", \"BC2\", \"Self\"] }" 
		}
	]
}