{
	"system" : {
		"convergence" : {
			"chunkSize" : 500,
			"tolerance" : 1
		}
	}
	"name" : "Tanzania1", 
	"species" : {
		name : "PhaseolusVulgaris"
		chromosome_lengths : [203, 276, 236, 200, 133, 163, 188, 206, 143, 132, 164]
	}, 
	"plants" : [ 
	    { 
	    	"name" : "Mex54", 
			"loci" : [
	        	{
	        		"name" : "Phg-2",
			        "type" : "Trait", 
			        "linkage_group" : 8, 
			        "position" : 200 
			    },
			    {
	        		"name" : "SN02",
			        "type" : "Marker", 
			        "linkage_group" : 8, 
			        "position" : 202
			    }
			] 
		} , 
	    { 
	    	"name" : "Vax", 
			"loci" : [
	        	{
	        		"name" : "QTL from GN#1 sel 27",
			        "type" : "Trait", 
			        "linkageGroup" : 10, 
			        "position" : 123
			    },
			    {
	        		"name" : "SAP6",
			        "type" : "Marker", 
			        "linkageGroup" : 10, 
			        "position" : 124
			    }
			] 
		}, 
	    { 
	    	"name" : "Mshindi", 
			"loci" : [
	        	{
	        		"name" : "bc-3",
			        "type" : "Trait", 
			        "linkage_group" : 6, 
			        "position" : 142
			    },
			    {
	        		"name" : "ROC11",
			        "type" : "Marker", 
			        "linkage_group" : 6, 
			        "position" : 143
			    }
			] 
		},
		{
			"name" : "Kablanketi", 
			"loci" : [] 
		}
  	],
	"crosses" : [
		{
			"name" : "F1_1", 
			"left" : "Mex54", 
      		"right" : "Vax", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : ["Phg-2", "SN02"]
            }
		},{
			"name" : "F1_2", 
			"left" : "Mshindi", 
      		"right" : "F1_1", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : ["Phg-2", "SN02", "bc-3", "ROC11"]
            }
		},{
			"name" : "F1_3", 
			"left" : "Kablanketi", 
      		"right" : "F1_2", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : ["Phg-2", "SN02", "bc-3", "ROC11"]
            }
		},{
			"name" : "BC1F1", 
			"left" : "Kablanketi", 
      		"right" : "F1_3", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : ["Phg-2", "SN02", "bc-3", "ROC11"]
            }
		},{
			"name" : "BC2F1", 
			"left" : "Kablanketi", 
      		"right" : "BC1F1", 
            "protocol" : {
            	"zygosity" : "Heterozygous",
            	"loci" : ["Phg-2", "SN02", "bc-3", "ROC11"]
            }
		},{
			"name" : "BC2F1S1", 
			"left" : "BC2F1", 
      		"right" : "BC2F1", 
            "protocol" : {
            	"zygosity" : "Homozygous",
            	"loci" : ["Phg-2", "SN02", "bc-3", "ROC11"]
            }
		},{
			"name" : "BC2F1S2", 
			"left" : "BC2F1S1", 
      		"right" : "BC2F1S1", 
            "protocol" : {
            	"zygosity" : "Homozygous",
            	"loci" : ["Phg-2", "SN02", "bc-3", "ROC11"]
            }
		},{
			"name" : "BC2F1S3", 
			"left" : "BC2F1S2", 
      		"right" : "BC2F1S2", 
            "protocol" : {
            	"zygosity" : "Homozygous",
            	"loci" : ["Phg-2", "SN02", "bc-3", "ROC11"]
            }
		},{
			"name" : "BC2F1S4", 
			"left" : "BC2F1S3", 
      		"right" : "BC2F1S3", 
            "protocol" : {
            	"zygosity" : "Homozygous",
            	"loci" : ["Phg-2", "SN02", "bc-3", "ROC11"]
            }
		}
	],
	"output" : [
		{ 
			"type": "proportion_distribution",
		 	"donor" : "Kablanketi",
		 	"cross" : "BC2F1S4", 
		},{ 
			"type": "proportion_distribution",
		 	"donor" : "Kablanketi",
		 	"cross" : "BC2F1S3", 
		},{ 
			"type": "proportion_distribution",
		 	"donor" : "Kablanketi",
		 	"cross" : "BC2F1S2", 
		},{
			type: success_probability,
			crosses : [F1_1, F1_2, F1_3, BC1F1, BC2F1]
		},{
			type: mean_cross_composition,
			crosses: [F1_1, F1_2, F1_3, BC1F1]
		}
	]	
}